/* Mobile first queries */
/* applies to ALL widths */

* { box-sizing: border-box; }

.header {
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  width: 100%; 
  height: 200px;
  min-width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(zheader.jpg);
  background-size: cover;
  background-color: black;
  background-position: center;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: black black black black;
}

.logo {
  font-weight: 600;
  font-size: 2.0em;
  font-family: 'Constantia', serif;
  color: black;  /*  */
  background-color: #F3322B; /* Chili Pepper */
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 3px;
  display: flex;
  position: relative;
}

.logo h1 {
  font-weight: 600;
  font-size: 2.0em;
  font-family: 'Constantia', serif;
  color: black;  /*  */
  background-color: #F3322B; /* Chili Pepper */
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 3px;
}

#imgIcon img {

  display: inline-block;
  padding: 2px 4px 0px 2px;
  margin: 2px;
  width: 150%;
  height: 150%;

}

body {
  font-family: 'Tangerine', serif;
  /* font-size: 1.125em;
 */
  color: white;  /*  */
  background-color: #00001a;  /*  */
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  width: 100%; 

 }

h2 {
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Lato', serif;
  color: #BF4C41; /* Cinnabar */
  margin-top: 5px;
  padding-top: 2px;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

h3 {
  font-size: 2.5em;
  font-weight: 600;
  font-family: 'Dancing Script', cursive;
  color: #00DCDC; /* teal instead of #B6E5D8 spearmint */
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  margin-top: 10px;
  padding-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 2px;
  border-style: solid;
  border-width: 0 0 5px 0;
  border-color: #00DCDC; 
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Garamond', serif;
  color: #6DA6F6;  /* Periwinkle */
  margin-top: 5px;
  padding-top: 2px;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.contact p {
  font-size: 1.125em;
  font-family: 'Tangerine', serif;
  color: white;  /*  */
  background-color: #00001a;  /*  */
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.profile p {
  font-family: 'Tangerine', serif;
  font-size: 1.250em;
  color: white;  /*  */
  background-color: #00001a;  /*  */
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.education p {
  font-size: 1.125em;
  font-family: 'Tangerine', serif;
  color: white;  /*  */
  background-color: #00001a;  /*  */
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.experience p {
  font-size: 1.125em;
  font-family: 'Tangerine', serif;
  color: white;  /*  */
  background-color: #00001a;  /*  */
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.bars h3 {
  font-size: 2.5em;
  font-weight: 600;
  font-family: 'Dancing Script', cursive;
  color: #00DCDC; /* teal instead of #B6E5D8 spearmint */
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  margin-top: 5px;
  padding-top: 2px;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.skills p {
  font-size: 1.125em;
  font-family: 'Tangerine', serif;
  color: white;  /*  */
  background-color: #00001a;  /*  */
  margin-bottom: 5px;
  padding-bottom: 2px;
}


/* Make sure that padding behaves as expected */
.contentContainer {
  background: #efefef;
  padding: 2px;
  min-width: 150px;
  max-width: 350px;
  margin: 10px;
  border-radius: 10px;
  border: solid 5px #dbdbdb;
}

.progressBar {
  margin-bottom: 5px;
}

.progressBar h4 {
  font-size: 12px;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 2px;
}

.progressBarContainer {
  width: 100%;
  max-width: 350px;
  height: 1em;
  background: #e6eae3;
  background: rgba(8,102,220,.2);
  overflow: hidden;
  border-radius: 5px;
}

.progressBarValue {
  height: 1em;
  float: left;
  background: #0866dc;
  background: rgba(8,102,220,.75);
}

.value-00 { width: 0; }
.value-10 { width: 10%; }
.value-20 { width: 20%; }
.value-30 { width: 30%; }
.value-40 { width: 40%; }
.value-50 { width: 50%; }
.value-60 { width: 60%; }
.value-70 { width: 70%; }
.value-80 { width: 80%; }
.value-90 { width: 90%; }
.value-100 { width: 100%; }

.html {background-color: #4CAF50;} /* Green */
.css {background-color: #2196F3;} /* Blue */
.js {background-color: #f44336;} /* Red */
.php {background-color: #00FFFF;} /* Aqua */



/* Larger than mobile */
/* applies to all widths 400px and greater */
@media (min-width: 400px) {
 
  .header {
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  min-width: 380px;
  max-width: 100%; 
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(zheader.jpg);
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
}

}

/* Larger than phablet */
/* applies to all widths 550px and greater */
@media (min-width: 550px) {

  .header {
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  min-width: 510px;
  max-width: 100%; 
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(zheader.jpg);
  background-size: cover;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: black black black black;
  background-position: center;
  background-size: 100% 100%;
}
  
}

/* Larger than tablet */
/* applies to all widths 750px and greater */
@media (min-width: 750px) {

  .header {
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  min-width: 710px;
  max-width: 100%; 
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(zheader.jpg);
  background-size: cover;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: black black black black;
  background-color: black;
  background-position: center;
  background-size: 100% 100%;
}

  .logo {
  font-size: 3.125em;
}

  .logo h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2.0em;
}

.contact p {
  font-size: 1.225em;
}

.profile p {
  font-size: 1.825em;
}

.education p {
  font-size: 1.825em;
}

.experience p {
  font-size: 1.825em;
}

.bars h4 {
  font-size: 2.0em;
}

.skills p {
  font-size: 1.825em;
}

}

/* Larger than desktop */
/* applies to all widths 1000px and greater */
@media (min-width: 1000px) {
  
  .header {
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  min-width: 960px;
  max-width: 100%; 
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(zheader.jpg);
  background-size: cover;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: black black black black;
  background-color: black;
  background-position: center;
  background-size: 100% 100%;
}

  .logo {
  font-size: 3.125em;
}

  .logo h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2.0em;
}

.contact p {
  font-size: 1.225em;
}

.profile p {
  font-size: 1.825em;
}

.education p {
  font-size: 1.825em;
}

.experience p {
  font-size: 1.825em;
}

.bars h4 {
  font-size: 2.0em;
}

.skills p {
  font-size: 1.825em;
}

}

/* Larger than Desktop HD */
/* applies to 1200px and greater */
@media (min-width: 1200px) {

 .header {
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  min-width: 1160px;
  max-width: 100%; 
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(zheader.jpg);
  background-size: cover;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: black black black black;
  background-color: black;
  background-position: center;
  background-size: 100% 100%;
  
}

  .logo {
  font-size: 3.125em;
}

  .logo h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2.0em;
}

.contact p {
  font-size: 1.225em;
}

.profile p {
  font-size: 1.825em;
}

.education p {
  font-size: 1.825em;
}

.experience p {
  font-size: 1.825em;
}

.bars h4 {
  font-size: 2.0em;
}

.skills p {
  font-size: 1.825em;
}


}
